@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img style="width: 50%" src="~/images/deadpool2.jpg" alt="Deadpool" />
    <h1>"I may be super, but I'm no hero."</h1>
   
</div>
